@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&family=Satisfy&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

@layer utilities {
  .rad-4 {
    border-radius: 0.25rem 0.25rem 0.25rem 0;
  }

  .rad-8 {
    border-radius: 0.5rem 0.5rem 0.5rem 0;
  }

  .rad-12 {
    border-radius: 0.75rem 0.75rem 0.75rem 0;
  }

  .rad-16 {
    border-radius: 1rem 1rem 1rem 0;
  }

  .rad-20 {
    border-radius: 1.25rem 1.25rem 1.25rem 0;
  }

  .rad-24 {
    border-radius: 1.5rem 1.5rem 1.5rem 0;
  }
}

@layer components {
  .checkbox {
    @apply rounded-4 border-n-300 w-5 h-5;
  }
  .checkbox:checked,
  .checkbox[checked='true'] {
    @apply bg-[length:50%] bg-center;
    background-image: linear-gradient(
        -45deg,
        transparent 65%,
        hsl(var(--chkbg)) 65.99%
      ),
      linear-gradient(45deg, transparent 75%, hsl(var(--chkbg)) 75.99%),
      linear-gradient(-45deg, hsl(var(--chkbg)) 40%, transparent 40.99%),
      linear-gradient(
        45deg,
        hsl(var(--chkbg)) 30%,
        hsl(var(--chkfg)) 30.99%,
        hsl(var(--chkfg)) 40%,
        transparent 40.99%
      ),
      linear-gradient(-45deg, hsl(var(--chkfg)) 50%, hsl(var(--chkbg)) 50.99%);
  }

  .radio {
    @apply bg-n-50;
  }
  .radio-primary {
    @apply bg-pb-50;
  }

  .radio-secondary {
    @apply bg-inb-50;
  }

  .radio-accent {
    @apply bg-gl-50;
  }

  .radio:checked,
  .radio[aria-checked='true'] {
    box-shadow: 0 0 0 6px hsl(var(--b1)) inset, 0 0 0 6px hsl(var(--b1)) inset;
  }

  .btn {
    @apply rounded-12 text-ar-L1-bold;
  }

  .btn-ghost.btn-primary:hover {
    @apply bg-pb-50
  }

  .btn-ghost.btn-secondary:hover {
    @apply bg-inb-25
  }

  .btn-ghost.btn-accent:hover {
    @apply bg-gl-50
  }

  .btn-link.btn-primary[disabled] {
    @apply bg-n-25 text-pb-100
  }

  .btn-link.btn-secondary[disabled] {
    @apply bg-n-25 text-inb-100
  }

  .btn-link.btn-accent[disabled] {
    @apply bg-n-25 text-gl-100
  }

  .input {
    @apply shadow-[0_7px_10px_0_rgba(41, 38, 50, 0.03)]
  }


}
